<div class="content">
    <!-- DIV BOTONES SUPERIORES -->
    <!-- <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="d-flex justify-content-end col-sm-12 col-md-8">
                <a [routerLink]="['/sitio-config']" class="btn dg-btn-primero" role="button"><i
                        class="fas fa-external-link-alt"></i>&nbsp; Configurar Sitio</a>
            </div>
        </div>
    </div> -->
    <!-- CONTENIDO  -->
    <div class="container mt-5">
        <!-- formulario card-sitio -->
        <div class="col-12 mb-4 config-card">
            <form>
                <h3 class="mr-3">Sitio</h3>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Titulo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Titulo del sitio Web"
                            [readonly]="soloLectura">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Descripcion</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Esta es una descripcion"
                            [readonly]="soloLectura">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Palabras Clave</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="palabra1, palabra2, palabra3, palabra4"
                            [readonly]="soloLectura">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group row col-md-6 mr-4">
                        <label class="col-sm-2 col-form-label">Logotipo</label>
                        <div class="col-sm-8 input-div">
                            <input type="file" id="file" />
                            <label for="file"><i class="fas fa-file-import"></i>&nbsp; Subir Archivo</label>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label class="col-sm-4 col-form-label d-flex justify-content-end">Favicon</label>
                        <div class="col-sm-8 input-div">
                            <input type="file" id="file" />
                            <label for="file"><i class="fas fa-file-import"></i>&nbsp; Subir Archivo</label>
                            <!-- <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                              </div> -->
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <div class="col-sm-10 d-flex justify-content-center">
                        <button type="button" class="btn dg-btn-tercero col-4 mr-2" (click)="soloLectura = true"
                            *ngIf="!soloLectura">Cancelar</button>
                        <button type="button" class="btn dg-btn-primero col-4" (click)="soloLectura = false"
                            *ngIf="soloLectura">Editar</button>
                        <button type="button" class="btn dg-btn-primero col-4 mr-2" (click)="soloLectura = true"
                            *ngIf="!soloLectura">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <div class="mb-4"></div> -->
        <!-- formulario card-header -->
        <div class="col-12 mb-4 config-card">
            <form>
                <h3>Header</h3>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Titulo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Titulo de header"
                            [readonly]="soloLecturaHeader">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Subtitulo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Subtitulo..."
                            [readonly]="soloLecturaHeader">
                    </div>
                </div>
                <div class="form-group row" style="width: 101%;">
                    <label class="col-sm-2 col-form-label">Imagen de Fondo <span
                            class="text-muted">(Header)</span></label>
                    <div class="col-sm-10 input-div">
                        <input type="file" id="file" />
                        <label for="file"><i class="fas fa-file-import"></i>&nbsp; Subir Archivo</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 d-flex justify-content-center">
                        <button type="button" class="btn dg-btn-tercero col-4 mr-2" (click)="soloLecturaHeader = true"
                            *ngIf="!soloLecturaHeader">Cancelar</button>
                        <button type="button" class="btn dg-btn-primero col-4" (click)="soloLecturaHeader = false"
                            *ngIf="soloLecturaHeader">Editar</button>
                        <button type="button" class="btn dg-btn-primero col-4 mr-2" (click)="soloLecturaHeader = true"
                            *ngIf="!soloLecturaHeader">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- formulario card-footer -->
        <div class="col-12 mb-4 config-card">
            <form>
                <h3>Footer</h3>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="miemail@mail.com"
                            [readonly]="soloLecturaFooter">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Telefono</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="9999 9999" [readonly]="soloLecturaFooter">
                    </div>
                </div>
                <div class="form-group row mt-5">
                    <div class="col-sm-10 d-flex justify-content-center">
                        <button type="button" class="btn dg-btn-tercero col-4 mr-2" (click)="soloLecturaFooter = true"
                            *ngIf="!soloLecturaFooter">Cancelar</button>
                        <button type="button" class="btn dg-btn-primero col-4" (click)="soloLecturaFooter = false"
                            *ngIf="soloLecturaFooter">Editar</button>
                        <button type="button" class="btn dg-btn-primero col-4 mr-2" (click)="soloLecturaFooter = true"
                            *ngIf="!soloLecturaFooter">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>