<!-- INICIO DE CONTENIDO -->
<div class="content">
    <div class="container">
        <!-- primeros botones -->
        <div class="row d-flex justify-content-end">
            <div class="d-flex justify-content-end col-sm-12 col-md-8">
                <button type="button" class="btn dg-btn-primero mb-2">Subir Archivo</button>
            </div>
            <div class="col-sm-12 col-md-4">
                <input type="text" class="form-control" aria-describedby="Search" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <!-- contenido Principal -->
        <div class="d-flex justify-content-around dash-menu">
            <div class="d-flex justify-content-center col-4">
                <a href=""><i class="far fa-image"></i>&nbsp; Imagenes</a>
            </div>
            <div class="d-flex justify-content-center col-4">
                <a href=""><i class="fas fa-film"></i>&nbsp; Videos</a>
            </div>
            <div class="d-flex justify-content-center col-4">
                <a href=""><i class="far fa-file-archive"></i>&nbsp;Archivos</a>
            </div>
        </div>
        <div class="container dash-imagenes">
            <!-- imagenes -cards -->
            <div class="row">
                <div class="card col-sm-12 col-md-6 col-lg-4" style="width: 18rem;">
                    <img src="assets/img/preview.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-10">
                                <h5 class="card-title">codeasd456</h5>
                            </div>

                            <div class="col-2 d-flex justify-content-end">
                                <button type="button" class="btn dg-btn-delete-scnd"><i
                                        class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-12 col-md-6 col-lg-4" style="width: 18rem;">
                    <img src="assets/img/preview.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-10">
                                <h5 class="card-title">codeasd456</h5>
                            </div>

                            <div class="col-2 d-flex justify-content-end">
                                <button type="button" class="btn dg-btn-delete-scnd"><i
                                        class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-12 col-md-6 col-lg-4" style="width: 18rem;">
                    <img src="assets/img/preview.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-10">
                                <h5 class="card-title">codeasd456</h5>
                            </div>

                            <div class="col-2 d-flex justify-content-end">
                                <button type="button" class="btn dg-btn-delete-scnd"><i
                                        class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-12 col-md-6 col-lg-4" style="width: 18rem;">
                    <img src="assets/img/preview.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-10">
                                <h5 class="card-title">codeasd456</h5>
                            </div>

                            <div class="col-2 d-flex justify-content-end">
                                <button type="button" class="btn dg-btn-delete-scnd"><i
                                        class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>