<div class="col-12 animated fadeInRight">
    <div class="row login-contenido">
        <!-- lado izquierdo -->
        <div class="col-4 d-none d-sm-none d-md-block sidebar-login">
            <div class="container login-sidebar">
                <div class="col">
                    <div class="jumbotron jumbotron-fluid jb-color">
                        <div class="container" style="color: white;">
                            <h1 class="display-4 d-flex justify-content-center text-center mb-4 sidebar-tile">¡Hola
                                Amigo!</h1>
                            <p class="lead text-center">Ingresa tus datos personales y empieza tu trayecto con
                                nosotros</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- lado derecho -->
        <div class="col-sm-12 col-md-8 col-lg-8 d-flex justify-content-center align-items-center"
            style="background-color: white;">
            <div class=" m-4 login-form">
                <div class="col">
                    <div class="row mb-4">
                        <div class="col-6 text-center pt-2 cheked">
                            <i class="far fa-circle fa-2x" *ngIf="!nextForm"></i>
                            <i class="fas fa-check-circle fa-2x" *ngIf="nextForm"></i>
                        </div>
                        <div class="col-6 text-center pt-2 uncheked">
                            <i class="far fa-circle fa-2x"></i>
                        </div>
                    </div>
                    <!-- primer form -->
                    <form (ngSubmit)="onSubmit( singInForm )" class="animated fadeInRight" #singInForm="ngForm" *ngIf="!nextForm">
                        <div class="col-12 d-flex justify-content-center mb-4">
                            <h2 class="text-center dg-titulos">
                                Crear una Cuenta
                            </h2>
                        </div>
                        <div class="form-group row mb-3">
                            <label
                                class="col-sm-12 col-md-12 col-lg-2 col-form-label login-form-lablel">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" [(ngModel)]="user.name" minlength="2" required placeholder="Nombre">
                                <span class="required-field animated fadeIn" *ngIf="singInForm.submitted && singInForm.controls.name.errors">
                                    Ingrese un nombre valido.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label
                                class="col-sm-12 col-md-12 col-lg-2 col-form-label login-form-lablel">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="email" [(ngModel)]="user.email" required email placeholder="miemail@mail.com">
                                <span class="required-field animated fadeIn" *ngIf="singInForm.submitted && singInForm.controls.email.errors || emailErr">
                                    {{emailMessage}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label
                                class="col-sm-12 col-md-12 col-lg-2 col-form-label login-form-lablel">Clave</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" [(ngModel)]="user.password" minlength="6" required placeholder="miclave">
                                <span class="required-field animated fadeIn" *ngIf="singInForm.submitted && singInForm.controls.password.errors">
                                    Ingrese una clave valida.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-sm-12 col-md-12 col-lg-2 col-form-label login-form-lablel">Confirmar
                                Clave</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" placeholder="miclave" name="confirmPass" [(ngModel)]="confirmPass">
                                <span class="required-field animated fadeIn" *ngIf="singInForm.submitted && notMatch">
                                    La contraseña no coincide.
                                </span>
                            </div>
                        </div>
                        <!-- <div class="form-group row mb-3">
                            <label
                                class="col-sm-12 col-md-12 col-lg-2 col-form-label login-form-lablel">Genero</label>
                            <div class="col-sm-10 d-flex justify-content-between row pl-4">
                                <div class="custom-control custom-radio custom-control-inline col">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Masculino</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline col">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Femenino</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline col">
                                    <input type="radio" id="customRadioInline3" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline3">Otro</label>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="form-group row mb-3">
                            <label
                                class="col-sm-12 col-md-12 col-lg-2 col-form-label login-form-lablel">Nacimiento</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control">
                            </div>
                        </div> -->
                        <div class="form-group row mb-3">
                            <label
                                class="col-sm-12 col-md-12 col-lg-2 col-form-label login-form-lablel">Plan</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="plan" [(ngModel)]="user.plan" id="exampleFormControlSelect1">
                                    <option>-- Plan --</option>
                                    <option>Simple</option>
                                    <option>Green Tea</option>
                                    <option>Cherry Blossom</option>
                                </select>
                                <span class="required-field animated fadeIn" *ngIf="singInForm.submitted && singInForm.controls.plan.pristine">
                                    Seleccione un plan.
                                </span>
                            </div>
                        </div>
                        <div class="form-group form-check row" style="margin-left: 18%">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label text-muted" for="exampleCheck1">Recordar usuario</label>
                          </div>
                        <div class="form-group row mb-4 d-flex justify-content-center">
                            ¿Ya tienes cuenta una cuenta? &nbsp;
                            <a style="color: var(--main-color);" routerLink="/login">Iniciar sesión</a>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <!-- <button type="submit" class="btn btn-primary m-2">Submit</button> -->
                            <!-- <button type="submit" class="btn dg-btn-primero m-2">CONFIRMAR</button> -->
                            <button type="submit" class="btn dg-btn-primero m-2">CREAR CUENTA</button>
                        </div>
                    </form>

                    <!-- segundo form -->
                    <!-- *ngIf="nextForm" -->
                    <form (ngSubmit)="onSubmit( singInForm2 )" class="animated fadeInRight" #singInForm2="ngForm">
                        <div class="col-12 d-flex justify-content-center mb-4">
                            <h2 class="text-center dg-titulos">
                                Detalle de pago
                            </h2>
                        </div>
                        <div class="form-group row mb-3">
                            <label
                                class="col-sm-12 col-md-12 col-lg-12 col-form-label login-form-lablel">Nombre</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" minlength="4" required placeholder="John Doe">
                                <span class="required-field animated fadeIn">
                                    Ingrese un nombre valido.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label
                                class="col-sm-12 col-md-12 col-lg-12 col-form-label login-form-lablel">Numero de tarjeta</label>
                            <div class="col-sm-12">
                                <input type="string" class="form-control" required placeholder="0000 0000 0000 0000" #credit (keyup)="creditCard(credit)">
                                <span class="required-field animated fadeIn">
                                    Llenar este campo
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group row mb-3 col-6">
                                <label
                                    class="col-sm-12 col-md-12 col-lg-12 col-form-label login-form-lablel">CVV</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" minlength="3" maxlength="3">
                                    <span class="required-field animated fadeIn" >
                                        Ingrese su CVV.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row mb-3 col-6">
                                <label class="col-sm-12 col-md-12 col-lg-12 col-form-label login-form-lablel">Exp. Date</label>
                                <div class="col-sm-5">
                                    <select class="form-control" aria-placeholder="YY">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>
                                <span style="font-size: 26px;">/</span>
                                <div class="col-sm-5">
                                    <select class="form-control" aria-placeholder="YY">
                                      <option *ngFor="let year of years">{{year}}</option>
                                    </select>
                                </div>
                                <span class="required-field ml-3 animated fadeIn">
                                    Ingrese dia de expiracion.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label
                                class="col-sm-12 col-md-12 col-lg-3 col-form-label login-form-lablel">Total a pagar:</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" required placeholder="$ 100" readonly style="background-color: white;">
                            </div>
                        </div>
                        <div class="form-group row mb-4 d-flex justify-content-center">
                            ¿Ya tienes cuenta una cuenta? &nbsp;
                            <a style="color: var(--main-color);" routerLink="/login">Iniciar sesión</a>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <button type="button" class="btn dg-btn-tercero m-2">CANCELAR</button>
                            <button type="submit" class="btn dg-btn-primero m-2">CONFIRMAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>