<div class="content">
    <!-- DIV BOTONES SUPERIORES -->
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="d-flex justify-content-end col-sm-12 col-md-8 mb-2">
                <button type="button" class="btn dg-btn-primero">Nuevo Tema</button>
            </div>
            <div class="col-sm-12 col-md-4">
                <input type="text" class="form-control" aria-describedby="Search" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="container" id="dash-temas">
            <!-- imagenes -cards -->
            <div class="row">
                <div class="card col-sm-12 col-md-6 col-lg-4" style="width: 18rem;">
                    <img src="img/temas.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-7">
                                <h5 class="card-title" style="margin-top: auto; margin-bottom: auto;">code623...
                                </h5>
                            </div>
                            <div class="col-5">
                                <div class="row" style="height: 40px;">
                                    <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                                    <button type="button" class="btn dg-btn-delete"><i
                                            class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-12 col-md-6 col-lg-4" style="width: 18rem;">
                    <img src="img/temas.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-7">
                                <h5 class="card-title" style="margin-top: auto; margin-bottom: auto;">code623...
                                </h5>
                            </div>
                            <div class="col-5">
                                <div class="row" style="height: 40px;">
                                    <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                                    <button type="button" class="btn dg-btn-delete"><i
                                            class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-12 col-md-6 col-lg-4" style="width: 18rem;">
                    <img src="img/temas.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-7">
                                <h5 class="card-title" style="margin-top: auto; margin-bottom: auto;">code623...
                                </h5>
                            </div>
                            <div class="col-5">
                                <div class="row" style="height: 40px;">
                                    <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                                    <button type="button" class="btn dg-btn-delete"><i
                                            class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-12 col-md-6 col-lg-4" style="width: 18rem;">
                    <img src="img/temas.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-7">
                                <h5 class="card-title" style="margin-top: auto; margin-bottom: auto;">code623...
                                </h5>
                            </div>
                            <div class="col-5">
                                <div class="row" style="height: 40px;">
                                    <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                                    <button type="button" class="btn dg-btn-delete"><i
                                            class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-12 col-md-6 col-lg-4" style="width: 18rem;">
                    <img src="img/temas.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-7">
                                <h5 class="card-title" style="margin-top: auto; margin-bottom: auto;">code623...
                                </h5>
                            </div>
                            <div class="col-5">
                                <div class="row" style="height: 40px;">
                                    <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                                    <button type="button" class="btn dg-btn-delete"><i
                                            class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>