
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top landing-navbar">
        <div class="col">
            <img src="../../../assets/img/logo-nombre-white.svg" class="img-fluid" alt="Dango" style="width: 150px;">
        </div>
        <div class="col d-flex justify-content-end" style="color: white;">
            <div class="row d-flex align-items-center">
                <div class="col-2 mr-4 ml-4">
                    <a [routerLink]="'/login'" style="cursor: pointer; color: white;">Login</a>
                </div>
                <div class="col-2">
                    <!-- <button class="btn dg-btn-white">Registrar</button> -->
                    <a [routerLink]="'/sign-in'" class="btn dg-btn-white" style="height: fit-content;">Registrarse</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- contenido -->
    <div class="main">
        <!-- HEADER -->
        <div class="content d-flex align-items-center landing-header">
            <div class="container mb-5" style="padding-top: 165px;">
                <div class="row" style="height: 260px;">
                    <div class="col d-flex justify-content-center">
                        <div class="jumbotron jumbotron-fluid landing-hd-jumbotron">
                            <div class="container">
                                <h1 class="display-4 text-center" style="font-weight: 500;">Te ayudamos a crear el
                                    software que necesitas con la
                                    mayor
                                    facilidad</h1>
                                <p class="lead text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    Perspiciatis, commodi.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 d-flex align-items-center">
                        <img src="../../../assets/img/login-pantalla1.svg" class="header-pics" width="275px">
                    </div>
                    <div class="col-6">
                        <div class="col-12 d-flex justify-content-center">
                            <img src="../../../assets/img/login-pantalla2.svg" class="header-pics" width="275px">
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <img src="../../../assets/img/login-pantalla.svg" class="header-pic-main" width="400px">
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <img src="../../../assets/img/login-pantalla3.svg" class="header-pics" width="200px">
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN HEADER -->

        <!-- HERRAMIENTAS -->
        <div class="content d-flex align-items-center" style="height: 100vh; background: white">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <h2 class="text-center m-5 font-weight-bold herram-txt-gray">
                        Te proveemos poderosas herramientas
                    </h2>
                </div>
                <div class="row mt-2">
                    <div class="col-4 text-center herram-txt-size">
                        <img src="../../../assets/img/login-herramienta1.svg" alt="" width="200px">
                        <h5 class="font-weight-bold mb-4 mt-3 herram-txt-prpl" style="font-size: 22px;">Facil
                            personalizacion</h5>
                        <p class="font-weight-light herram-txt-gray" style="font-size: 22px;">Dale a tu negocio el
                            estilo que se merece.</p>
                    </div>
                    <div class="col-4 text-center herram-txt-size">
                        <img src="../../../assets/img/login-herramienta2.svg" alt="" width="200px">
                        <h5 class="font-weight-bold mb-4 mt-3 herram-txt-prpl" style="font-size: 22px;">Rapida
                            Construccion</h5>
                        <p class="font-weight-light herram-txt-gray" style="font-size: 22px;">Construye tu sitio de
                            forma facil y rapida.</p>
                    </div>
                    <div class="col-4 text-center herram-txt-size">
                        <img src="../../../assets/img/login-herramienta3.svg" alt="" width="200px">
                        <h5 class="font-weight-bold mb-4 mt-3 herram-txt-prpl" style="font-size: 22px;">100% Confiable
                        </h5>
                        <p class="font-weight-light herram-txt-gray" style="font-size: 22px;">Te garantizamos un sistema
                            seguro.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN HERRAMIENTAS -->

        <!-- PANTALLAS TIENDA -->
        <div class="content d-flex align-items-center" style="height: 100vh; background: white">
            <div class="container">
                <div class="row">
                    <div class="col-6 mb-auto mt-auto">
                        <h2 class="mb-3 font-weight-bold herram-txt-gray">
                            Vende en cualquier momento y lugar
                        </h2>
                        <p class="font-weight-light herram-txt-gray" style="font-size: 22px;">Usa una plataforma para
                            vender productos a cualquier comprador, donde sea: en persona con punto de venta y online a
                            través de tu sitio web, redes sociales y mercados online.</p>
                    </div>
                    <div class="col-6">
                        <img src="../../../assets/img/pantallas-tienda.svg" alt="" width="748px">
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN PANTALLAS TIENDA -->

        <!-- PANTALLAS css -->
        <div class="content d-flex align-items-center" style="height: 100vh; background: white">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-auto mt-auto">
                        <h2 class="mb-3 font-weight-bold herram-txt-gray d-flex justify-content-center">
                            Tu proceso de diseño en un solo lugar
                        </h2>
                        <p class="font-weight-light herram-txt-gray d-flex justify-content-center"
                            style="font-size: 22px;">Personaliza el diseño de tu pagina y dale los estilos que mejor se
                            acomoden a las necesidades de tu negocio</p>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <img src="../../../assets/img/pantalla-css.png" alt="" width="1000px">
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN PANTALLAS css -->

        <!-- planes -->
        <div class="content d-flex align-items-center" style="height: 100vh; background: white">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-auto mt-auto">
                        <h2 class="mb-3 font-weight-bold herram-txt-gray d-flex justify-content-center">
                            Encuentra precios que se ajusten a tus necesidades
                        </h2>
                        <p class="font-weight-light herram-txt-gray d-flex justify-content-center"
                            style="font-size: 22px;">Escoje un plan e inicia tu trayecto con nostros.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4 text-center herram-txt-size">
                        <img src="../../../assets/img/plan1.svg" alt="" width="200px">
                        <h5 class="font-weight-bold mb-4 mt-3 herram-txt-prpl" style="font-size: 22px;">Simple</h5>
                        <ul class="font-weight-light text-left plan-lista">
                            <li class="mb-3">Navega y realiza tus compras dentro de la pagina</li>
                        </ul>
                        <button class="btn dg-btn-primero" style="box-shadow: 5px 5px 14px 2px #5c587a7a;" [routerLink]="'/sign-in'">Elegir
                            Plan</button>
                    </div>
                    <div class="col-4 text-center herram-txt-size"
                        style="border-width: 0px 1px 0px 1px; border-style: solid; border-color: #fff0 var(--d-gray) #00f0 var(--d-gray);">
                        <img src="../../../assets/img/plan2.svg" alt="" width="200px">
                        <h5 class="font-weight-bold mb-4 mt-3 herram-txt-prpl" style="font-size: 22px;">Green Tea</h5>
                        <ul class="font-weight-light text-left plan-lista">
                            <li class="mb-3">Crea un sitio para tu tienda</li>
                            <li class="mb-3">Servicio de carrito de compras</li>
                            <li class="mb-3">Acceso a temas para un inicio rapido</li>
                        </ul>
                        <button class="btn dg-btn-primero" style="box-shadow: 5px 5px 14px 2px #5c587a7a;" [routerLink]="'/sign-in'">Elegir
                            Plan</button>
                    </div>
                    <div class="col-4 text-center herram-txt-size">
                        <img src="../../../assets/img/plan3.svg" alt="" width="200px">
                        <h5 class="font-weight-bold mb-4 mt-3 herram-txt-prpl" style="font-size: 22px;">Cherry Blossom
                        </h5>
                        <ul class="font-weight-light text-left plan-lista">
                            <li class="mb-3">Administracion de temas</li>
                            <li class="mb-3">Gestion de tiendas</li>
                            <li class="mb-3">Gestion de Usuarios</li>
                        </ul>
                        <button class="btn dg-btn-primero" style="box-shadow: 5px 5px 14px 2px #5c587a7a;" [routerLink]="'/sign-in'">Elegir
                            Plan</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN planes -->
    </div>

    <!-- footer -->
    <!-- Site footer -->
    <div class="container bloque-registro">
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <div class="row footer-block">
                    <div class="col-6 d-flex justify-content-center ">
                        <h2>¿Listo para una nueva experiencia?</h2>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <!-- <button class="btn dg-btn-white" style="height: fit-content;">Registrarse</button> -->
                        <a [routerLink]="'/sign-in'" class="btn dg-btn-white" style="height: fit-content;">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img src="../../../assets/img/logo-nombre-white.svg" alt="">
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Contactanos</h6>
                    <h5>dangosaas@gmail.com</h5>
                </div>

                <div class="col-xs-6 col-md-3">
                    <p>Copyright &copy; 2017 All Rights Reserved</p>
                    <div class="row">
                        <div class="col-4">
                            <h2><i class="fab fa-facebook-f footer-icon" id="landing-fb"></i></h2>
                        </div>
                        <div class="col-4">
                            <h2><i class="fab fa-twitter footer-icon" id="landing-tw"></i></h2>
                        </div>
                        <div class="col-4">
                            <h2><i class="fab fa-linkedin-in footer-icon" id="landing-li"></i></h2>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </footer>
