<!-- SIDEBAR -->
<div class="sidebar">
    <div class="container mb-3">
        <div class="row">
            <h3 class="mr-2 ml-3 tile-primero">Contenido</h3>
            <button type="button" class="btn dg-btn-delete" aria-labelledby="ejecutar"><i
                    class="fas fa-terminal"></i></button>
            <div class="container">
            </div>
        </div>
    </div>
    <div class="container mb-3">
        <h5>HTML</h5>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="container mb-3">
        <h5>Css</h5>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="container mb-3">
        <h5>Js</h5>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="container mt-2">
        <h3 class="tile-primero">Componentes</h3>
    </div>
    <div class="container">
        <div class="form-check d-flex align-items-center mb-2" style="font-size: 25px;">
            <input class="form-check-input" type="checkbox" value="" id="chk-header">
            <label class="form-check-label" for="chk-header" style="padding-top: 6px;">
                Header
            </label>
        </div>
        <div class="form-check d-flex align-items-center mb-2" style="font-size: 25px;">
            <input class="form-check-input" type="checkbox" value="" id="chk-footer">
            <label class="form-check-label" for="chk-footer" style="padding-top: 6px;">
                Footer
            </label>
        </div>
    </div>
</div>

<!-- INICIO DE CONTENIDO INTERNO-->
<div class="content">
    <div class="container" style="height: 400px; border-radius: 12px; border: 1px solid lightslategray;">
        <p class="text-muted">aqui se iran añadiendo los bloques de contenido de la pagina</p>
    </div>
    <div class="container">
        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn dg-btn-delete m-3" data-toggle="modal" data-target="#modal-add-cont"><i
                    class="fas fa-plus" style="font-size: 50px;"></i></button>
        </div>
    </div>
</div>

<!-- MODAL AGREGAR-CONTENIDO -->
<!-- Modal -->
<div class="modal fade" id="modal-add-cont" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-add-cont-label">Nuevo Componente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container" style="width: 400px;">
                    <div class="row ml-2" id="radio-perfil">
                        <label>
                            <input type="radio" name="rad-perf" checked>
                            <img src="assets/img/cont-1.svg" class="img-fluid" alt="Responsive image"
                                style="height: 130px;">
                            <h5>Simple</h5>
                        </label>
                        <label>
                            <input type="radio" name="rad-perf">
                            <img src="assets/img/cont-2.svg" class="img-fluid" alt="Responsive image"
                                style="height: 130px;">
                            <h5>Doble</h5>
                        </label>
                        <label>
                            <input type="radio" name="rad-perf">
                            <img src="assets/img/cont-3.svg" class="img-fluid" alt="Responsive image"
                                style="height: 130px;">
                            <h5>Triple</h5>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn dg-btn-tercero" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn dg-btn-segundo">Aceptar</button>
            </div>
        </div>
    </div>
</div>