<div class="content">
    <!-- DIV BOTONES SUPERIORES -->
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="d-flex justify-content-end col-sm-12 col-md-8">
                <button type="button" class="btn dg-btn-primero mb-2">Nuevo Usuario</button>
            </div>
            <div class="col-sm-12 col-md-4">
                <input type="text" class="form-control" aria-describedby="Search" placeholder="Search">
            </div>
        </div>
    </div>
    <!-- CONTENIDO  -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <ul class="list-group dash-admin-usuarios">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8">
                                <div class="row mt-auto mb-auto pl-4">
                                    <h4 class="mr-4">Tu</h4>
                                </div>
                                <div class="col-12 pl-2">
                                    Administrador
                                </div>
                            </div>
                            <div class="d-flex justify-content-end col-4">
                                <div class="row d-block mt-auto mb-auto mr-1">
                                    <button type="button" class="btn dg-btn-delete"><i
                                            class="far fa-trash-alt"></i></button>
                                    <button type="button" class="btn dg-btn-edit"><i
                                            class="fas fa-pen"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8">
                                <div class="row mt-auto mb-auto pl-4">
                                    <h4 class="mr-4">Usuario one</h4>
                                </div>
                                <div class="col-12 pl-2">
                                    Administrador
                                </div>
                            </div>
                            <div class="d-flex justify-content-end col-4">
                                <div class="row d-block mt-auto mb-auto mr-1">
                                    <button type="button" class="btn dg-btn-delete"><i
                                            class="far fa-trash-alt"></i></button>
                                    <button type="button" class="btn dg-btn-edit"><i
                                            class="fas fa-pen"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8">
                                <div class="row mt-auto mb-auto pl-4">
                                    <h4 class="mr-4">Usuario one</h4>
                                </div>
                                <div class="col-12 pl-2">
                                    Cliente
                                </div>
                            </div>
                            <div class="d-flex justify-content-end col-4">
                                <div class="row d-block mt-auto mb-auto mr-1">
                                    <button type="button" class="btn dg-btn-delete"><i
                                            class="far fa-trash-alt"></i></button>
                                    <button type="button" class="btn dg-btn-edit"><i
                                            class="fas fa-pen"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8">
                                <div class="row mt-auto mb-auto pl-4">
                                    <h4 class="mr-4">Usuario one</h4>
                                </div>
                                <div class="col-12 pl-2">
                                    Empresa
                                </div>
                            </div>
                            <div class="d-flex justify-content-end col-4">
                                <div class="row d-block mt-auto mb-auto mr-1">
                                    <button type="button" class="btn dg-btn-delete"><i
                                            class="far fa-trash-alt"></i></button>
                                    <button type="button" class="btn dg-btn-edit"><i
                                            class="fas fa-pen"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-8">
                                <div class="row mt-auto mb-auto pl-4">
                                    <h4 class="mr-4">Usuario one</h4>
                                </div>
                                <div class="col-12 pl-2">
                                    Cliente
                                </div>
                            </div>
                            <div class="d-flex justify-content-end col-4">
                                <div class="row d-block mt-auto mb-auto mr-1">
                                    <button type="button" class="btn dg-btn-delete"><i
                                            class="far fa-trash-alt"></i></button>
                                    <button type="button" class="btn dg-btn-edit"><i
                                            class="fas fa-pen"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>