<div class="col-12 animated fadeInLeft">
    <div class="row login-contenido">
        <!-- lado izquierdo -formulario -->
        <div class="col-sm-12 col-md-8 col-lg-8 d-flex justify-content-center align-items-center"
            style="background-color: white;">
            <div class=" m-4 login-form">
                <div class="col">
                    <div class="row d-flex justify-content-center">
                        <img src="./assets/img/Logo_principal.svg" alt="">
                    </div>
                    <form class="form-padding">
                        <div class="col-12 d-flex justify-content-center mb-4">
                            <h2 class="text-center dg-titulos">
                                Ingresa a Dango
                            </h2>
                        </div>
                        <div class="form-group row mb-4">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="email">
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" placeholder="password">
                            </div>
                        </div>
                        <div class="form-group row mb-4 d-flex justify-content-center">
                            ¿No eres miembro? &nbsp;
                            <a routerLink="/sign-in">Registrate</a>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <!-- <button type="submit" class="btn dg-btn-primero m-2">INGRESAR</button> -->
                            <a href="../Dashboard-admin/index.html" class="btn dg-btn-primero m-2">INGRESAR</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- lado derecho -->
        <div class="col-4 d-none d-sm-none d-md-block sidebar-login">
            <div class="container login-sidebar">
                <div class="col">
                    <div class="jumbotron jumbotron-fluid jb-color">
                        <div class="container" style="color: white;">
                            <h1 class="display-4 d-flex justify-content-center text-center mb-4 sidebar-tile">¡Bienvenido de Nuevo!</h1>
                            <p class="lead text-center">Para mantenerte conectado con nosotros por favor ingresa tus datos personales</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
