<div class="content">
    <!-- DIV BOTONES SUPERIORES -->
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="d-flex justify-content-end col-sm-12 col-md-8 mb-2">
                <button type="button" class="btn dg-btn-segundo mr-2">Gestionar Categorias</button>
                <button type="button" class="btn dg-btn-primero">Nuevo Producto</button>
            </div>
            <div class="col-sm-12 col-md-4">
                <input type="text" class="form-control" aria-describedby="Search" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-12" id="dash-cont-lista">
            <table class="table dash-lista-productos">
                <thead>
                    <tr>
                        <th scope="col">Img</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Inventario</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="assets/img/preview.jpeg" alt=""></td>
                        <td>Producto n</td>
                        <td>456 en cStok</td>
                        <td>Categoria x</td>
                        <td>
                            <button type="button" class="btn dg-btn-delete"><i class="far fa-trash-alt"></i></button>
                            <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/preview.jpeg" alt=""></td>
                        <td>Producto n</td>
                        <td>456 en Stock</td>
                        <td>Categoria x</td>
                        <td>
                            <button type="button" class="btn dg-btn-delete"><i class="far fa-trash-alt"></i></button>
                            <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/preview.jpeg" alt=""></td>
                        <td>Producto n</td>
                        <td>456 en Stock</td>
                        <td>Categoria x</td>
                        <td>
                            <button type="button" class="btn dg-btn-delete"><i class="far fa-trash-alt"></i></button>
                            <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/preview.jpeg" alt=""></td>
                        <td>Producto n</td>
                        <td>456 en Stock</td>
                        <td>Categoria x</td>
                        <td>
                            <button type="button" class="btn dg-btn-delete"><i class="far fa-trash-alt"></i></button>
                            <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/preview.jpeg" alt=""></td>
                        <td>Producto n</td>
                        <td>456 en Stock</td>
                        <td>Categoria x</td>
                        <td>
                            <button type="button" class="btn dg-btn-delete"><i class="far fa-trash-alt"></i></button>
                            <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/preview.jpeg" alt=""></td>
                        <td>Producto n</td>
                        <td>456 en Stock</td>
                        <td>Categoria x</td>
                        <td>
                            <button type="button" class="btn dg-btn-delete"><i class="far fa-trash-alt"></i></button>
                            <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/preview.jpeg" alt=""></td>
                        <td>Producto n</td>
                        <td>456 en Stock</td>
                        <td>Categoria x</td>
                        <td>
                            <button type="button" class="btn dg-btn-delete"><i class="far fa-trash-alt"></i></button>
                            <button type="button" class="btn dg-btn-edit"><i class="fas fa-pen"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>